<section id="my-posts">
    <h1>My post</h1>

    <div class="my-container">
        {{#if creatures}}
        <div class="my-card">
            {{#each creatures}}
            {{> profileCreatures}}
            {{/each}}
        </div>
        {{else}}
        <div class="no-posts">
            <p class="no-offer">There are no own posts yet...</p>
        </div>
        {{/if}}
    </div>
</section>