<section id="catalog">
    <h1>Do you want to delete this movie?</h1>
    <div class="band">
    <a href="/movies/{{id}}/delete/yes" class="details">Yes</a>
    <a href="/movies/{{id}}/delete/no" class="details">No</a>
    </div>
</section>