{{#if error}}
<div class="notification">
    <p>Breed field must be filled!</p>
</div>
{{/if}}
<form action="/cats/add-breed" method="post" class="cat-form">
    <h2>Add Cat Breed</h2>
    <label {{#if error}}class="errorLabel"{{/if}} for="breed-name">Breed Name</label>
    <input {{#if error}}class="errorField"{{/if}} name="breedName" type="text" id="breed-name">
    <button type="submit">Add Breed</button>
</form>