<section id="attachCast">
    <div class="attachCastSection">
        <h1>Attach New Cast</h1>
        <div class="attach-form">
            <h2>Jungle Cruise</h2>
            <img class="movie" src="{{movieData.imageURL}}">
            <form action="" method="post">
                <label for="cast">Cast</label>
                <select id="cast" name="cast">
                    {{#each data}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
                <div id="center-btn">
                    <button id="create-btn">Add Cast</button>
                </div>
            </form>
        </div>
    </div>
</section>